body{
   margin: 0%;
    font-family:"Montserrat" ;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align:center ;
}
.navbar a
{text-decoration: none;
    color: rgb(250, 250, 250);
    text-align: center;
    display: block;
    padding: 15px;
}
.navbar a:hover
{background-color: hsl(0, 98%, 49%);

}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0,0%,25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;


}
.navbar li{
    float: left;
}